<sly data-sly-test="${wcmmode.edit}">
    <div class="cq-placeholder" data-emptytext="${component.title || 'Drag components here'}"></div>
</sly>
<h1>Osgi Service Demo</h1>
<div data-sly-use.model="com.testproject.core.models.OsgiServiceModuleModel"></div>

<div><p>Service Name : ${model.serviceName} </p></div>
<div><p>Service ID : ${model.serviceID} </p></div>
<div><p>Service URL : ${model.serviceURL} </p></div>

<div data-sly-list="${model.allOSGiConfigs}">
    ------Config # <b>${itemList.count}</b>-----
   <div><p> Config ID: <b>${item.configID}</b></p></div>
   <div><p> Service Name: <b>${item.serviceName}</b></p></div>
   <div><p> Service URL : <b>${item.serviceURL}</b></p></div>
</div>

