<sly data-sly-test="${wcmmode.edit}">
    <div class="cq-placeholder" data-emptytext="${component.title || 'Drag components here'}"></div>
</sly>
<sly data-sly-use.model="com.testproject.core.models.ThirdComponent">

<sly data-sly-test="${model.title}">
<div class="employee-details">
<h2>Third Component</h2>
<p>title : ${model.title}</p>
<p>text : ${model.text}</p>
<sly data-sly-list.modellist="${model.multifield}">
<p>header : ${modellist.header}</p>
<p>eyebrow : ${modellist.eyebrow}</p>
</sly>

</div>
</sly></sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='testproject.custom'}"/>