<sly data-sly-test="${wcmmode.edit}">
    <div class="cq-placeholder" data-emptytext="${component.title || 'Team Member Profile'}"></div>
</sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='testproject.custom'}" />
<sly data-sly-use.model="com.testproject.core.models.TeamMemberProfileModel">
    <sly data-sly-list.member="${model.teamMemberProfileList}">
        <div class="team-profile">
            <img src="${member.profileImage}" alt="${member.name}" />
            <h3>${member.name}</h3>
            <p>${member.designation}</p>
            <div class="bio" data-sly-unwrap>
                ${member.bio @ context='html'}
            </div>
            <ul class="social-links">
                <sly data-sly-list.link="${member.socialLinks}">
                    <li><a href="${link.url}" target="_blank">${link.platform}</a></li>
                </sly>
            </ul>
        </div>
    </sly>
</sly>
