<sly data-sly-test="${wcmmode.edit}">
    <div class="cq-placeholder" data-emptytext="${component.title || 'Drag components here'}"></div>
</sly>
<sly data-sly-test="${properties.title}">
<div>
<h2>My First Component</h2>
<h3>Current Page Title : ${currentPage.title}</h3>
<p class="first-component">Title : ${properties.title}</p>
<p>Text Area : ${properties.text}</p>
</div>
</sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='testproject.custom'}"/>