<sly data-sly-test="${wcmmode.edit}">
    <div class="cq-placeholder" data-emptytext="${component.title || 'Drag components here'}"></div>
</sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='testproject.custom'}"/>
<sly data-sly-use.model="com.testproject.core.models.TitlewithDescriptionModel">
    <div class="title-description-container">
        <sly data-sly-list.item="${model.titleDescriptionList}">
            <div class="product-card">
                <img src="${product.productImage}" alt="${product.productName}" />
                <h2>${product.productName}</h2>
                <p><strong>Price:</strong> ₹${product.price}</p>
                <ul>
                  <li data-sly-list="${product.features}">${item}</li>
                </ul>
                <div class="description" data-sly-unwrap>
                  ${product.description @ context='html'}
                </div>
              </div>              
        </sly>
    </div>
</sly>
