<sly data-sly-test="${wcmmode.edit}">
  <div class="cq-placeholder" data-emptytext="${component.title || 'Product Details'}"></div>
</sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
   data-sly-call="${clientlib.all @ categories='testproject.custom'}" />
<sly data-sly-use.model="com.testproject.core.models.ProductDetailsModel">
  <sly data-sly-list.product="${model.productDetailsList}">
      <div class="product-card">
          <img src="${product.productImage}" alt="${product.productName}" />
          <h2>${product.productName}</h2>
          <p><strong>Price:</strong> ₹${product.price}</p>
          <div class="features">
            <ul data-sly-list.item="${product.features}">
              <li>${item @ context='html'}</li>
            </ul>
          </div>          
          <div class="description" data-sly-unwrap>
              ${product.description @ context='html'}
          </div>
      </div>
  </sly>
</sly>
